<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span><span class="glyphicon glyphicon-align-justify"></span>
      </button>
      <a class="navbar-brand" href="#">LettrIt</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">Write</a>
        </li>
        <li class="active"><a href="#/about"><strong>About</strong></a></li>
      </ul>
    </div>
  </div><!-- /.navbar-collapse -->
</nav>


<div class="panel panel-primary">
  <div class="panel-heading">
    About LettrIt
  </div>
  <div class="panel-body">
    LettrIt is a simple application, that let's the user input usual
    information, needed to writa a formal letter. It then supplies the
    user with a <span class="code"="">Print</span> button, that will
    return a beautiful layouted letter document ready for printing.
    <hr>
    This app is a community project, manly developed
    by <a href="http://twitter.com/frosch03">@frosch03</a>
    and <a href="http://twitter.com/jobacca">@jobacca</a>. You can
    find the source of LettrIt
    on <a href="http://github.com/frosch03/pdfBrief">github</a>.
  </div>
</div>
