<div class="container">  <div class="row">    <div class="col-xs-6">
      <h1>Absender</h1>
      <div class="row">
          <div class="row">
            <!-- Vorname &amp; Nachname -->
            <span editable-text="absender.vname">{{absender.vname || 'Vorname'}}</span>
            <span editable-text="absender.nname">{{absender.nname || 'Nachname'}}</span>
          </div>
          
          <div class="row">
            <!-- Straße &amp; Hausnummer -->
            <span editable-text="absender.street">{{absender.street || 'Straße'}}</span>
            <span editable-text="absender.nr">{{absender.nr || '00'}}</span>
          </div>

          <div class="row">       
            <!-- Postleitzahl Ort -->
            <span editable-text="absender.postnr">{{absender.postnr || 'PLZ'}}</span>
            <span editable-text="absender.city">{{absender.city || 'Ort'}}</span>
          </div>    
      </div>

      <h1>Empfänger</h1>
      <div class="row">
          <div class="row">
            <!-- Vorname &amp; Nachname -->
            <span editable-text="empfaenger.vname">{{empfaenger.vname || 'Vorname'}}</span>
            <span editable-text="empfaenger.nname">{{empfaenger.nname || 'Nachname'}}</span>
          </div>
          <div class="row">
            <!-- Straße &amp; Hausnummer -->
            <span editable-text="empfaenger.street">{{empfaenger.street || 'Straße'}}</span>
            <span editable-text="empfaenger.nr">{{empfaenger.nr || '0'}}</span>
          </div>
          <div class="row">
            <!-- Postleitzahl Ort -->
            <span editable-text="empfaenger.postnr">{{empfaenger.postnr || 'PLZ'}}</span>
            <span editable-text="empfaenger.city">{{empfaenger.city || 'Ort'}}</span>
          </div>
      </div>

</div>
<div class="col-xs-6">

      <div class="row">
        <div class="row">
          <div class="col-xs-5">
            <!-- Betreff -->
            <span editable-text="meta.subject">{{meta.subject || 'Betreff'}}</span>
          </div>
          <!-- <div class="col-xs-1"> -->
          <!--   <\!-- Datum -\-> -->
          <!--   <span editable-text="meta.date">{{meta.date || 'Datum'}}</span> -->
          <!-- </div> -->
        </div>
        <div class="row">
          <span editable-text="meta.opening">{{meta.opening || 'Anrede (ohne Name)'}} {{empfaenger.nname}}</span>
          <textarea name="lettertext" ng-model="meta.txt" rows="24" cols="80"></textarea>
          <span editable-text="meta.closing">{{meta.closing || 'Grußformel'}}</span>
        </div>
      </div>

  <form name="sendForm" action="http://localhost:8080/upload" method="POST" enctype="multipart/from-data">
 <!-- style="visibility: hidden;"> -->
    <textarea  name="latex" rows="0" cols="0" style=" visibility: hidden; ">
      {{header}}

      \newcommand{\dieAdresse}{ {{ empfaenger.vname }} {{ empfaenger.nname }}\\{{ empfaenger.street }} {{ empfaenger.nr }}\\{{empfaenger.postnr}} {{empfaenger.city}} }
      \newcommand{\dieAnrede}{\Anrede{Herr}{ {{ empfaenger.nname}} } }
      \newcommand{\derBetreff}{ {{ meta.subject }} }
      \setkomavar{fromname}    
         {\Large{\textsc{ {{ absender.vname }} {{ absender.nname }} } } }
      \setkomavar{fromaddress} 
         { {{absender.street}} {{absender.nr}}\\{{absender.postnr}} {{absender.city}} } 
      \setkomavar{backaddress} 
         { {{absender.vname | limitTo:1}}.{{absender.nname}}, {{absender.street}} {{absender.nr}}, {{absender.postnr}} {{absender.city}} }
      \setkomavar{subject}
         { {{meta.subject}} }
      \setkomavar{fromemail}
         { kurt-deuter.blub.de }

        {{body}}

      \begin{letter}{ {{empfaenger.vname | limitTo:1}}.{{empfaenger.nname}}\\{{empfaenger.street}} {{empfaenger.nr}}\\{{empfaenger.postnr}} {{empfaenger.city}} }
      \opening{ {{meta.opening}} {{empfaenger.nname}} }

{{meta.txt}}

        \closing{ {{meta.closing}},\\{{absender.vname}} {{absender.nname}} }


        {{footer}}
    </textarea>
    <input type="hidden" name="nachname" value="{{empfaenger.nname}}" />
    <input type="hidden" name="subject" value="{{meta.subject}}" />
    <input type="submit" value="Drucken">
  </form>

</div>  </div>  </div>
