<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">LettrIt</a>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Print</a></li>
        <li><a href="#/about">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>





<accordion close-others="true">
  <accordion-group heading="Absender" is-open="false">
    <form name="absenderForm" role="form" class="form-horizontal">
      <!-- Vorname &amp; Nachname -->
      <label for="abs" class="col-sm-2 control-label">Absender</label>
      <div class="form-group form-inline" id="abs">
        <input type="text" name="vorName" ng-model="meta.abs.vname" placeholder="Vorname" class="form-control">
        <input type="text" name="nachName" ng-model="meta.abs.nname" class="form-control" placeholder="Nachname">
      </div>
      
      <!-- Straße &amp; Hausnummer -->
      <label for="addr" class="col-sm-2 control-label">Adresse</label>
      <div class="form-group form-inline" id="addr">
        <input type="text" name="street" ng-model="meta.abs.street" placeholder="Straße" class="form-control">
        <input type="text" name="housenr" ng-model="meta.abs.nr" size="3" placeholder="#" class="form-control">
      </div>

      <!-- Postleitzahl Ort -->
      <label for="addr2" class="col-sm-2 control-label"></label>
      <div class="form-group form-inline" id="addr2">
        <input type="text" name="postnr" ng-model="meta.abs.postnr" size="6" placeholder="PLZ" class="form-control" />
        <input type="text" name="city" ng-model="meta.abs.city" placeholder="Ort" class="form-control" />
      </div>
    </form>
  </accordion-group>

  <accordion-group heading="Empfänger" is-open="false">
    <form name="empfaengerForm" role="form" class="form-horizontal">
      <!-- Vorname &amp; Nachname -->
      <label for="empf" class="col-sm-2 control-label">Empfänger</label>
      <div class="form-group form-inline" id="empf">
        <input type="text" name="vorName" ng-model="meta.empf.vname" class="form-control" placeholder="Vorname" />
        <input type="text" name="nachName" ng-model="meta.empf.nname" class="form-control" placeholder="Nachname" />
      </div>
      <!-- Straße &amp; Hausnummer -->
      <label for="eddr2" class="col-sm-2 control-label">Adresse</label>
      <div class="form-group form-inline" id="eddr">
        <input type="text" name="street" ng-model="meta.empf.street" class="form-control" placeholder="Straße" />
        <input type="text" name="housenr" ng-model="meta.empf.nr" size="3" class="form-control" placeholder="#" />
      </div>
      <!-- Postleitzahl Ort -->
      <label for="eddr2" class="col-sm-2 control-label"></label>
      <div class="form-group form-inline" id="eddr2">
        <input type="text" name="postnr" ng-model="meta.empf.postnr" size="6" class="form-control" placeholder="PLZ" />
        <input type="text" name="city" ng-model="meta.empf.city" class="form-control" placeholder="Ort" />
      </div>
    </form>
  </accordion-group>

  <accordion-group heading="Brief" is-open="true" class="panelColor()">
    <form name="metaForm" role="form" class="form-horizontal">
      <!-- Betreff -->
      <label for="btr" class="col-sm-2 control-label">Betreff</label>
      <div class="form-group form-inline" id="betr">
        <input type="text" name="subject" ng-model="meta.subject" class="form-control" placeholder="Betreff" required />
      </div>  

      <!-- Eröffnung -->
      <label for="begr" class="col-sm-2 control-label">Eröffnung</label>
      <div class="form-group form-inline" id="begr">
        <input type="text" name="opening" ng-model="meta.opening" class="form-control" placeholder="Begrüßung" /> <span class="lead">{{meta.empf.nname}}</span>
      </div>
      <div class="form-group" id="txxt">
        <textarea name="lettertext" ng-model="meta.txt" rows="12" cols="80" class="form-control" placeholder="der Brieftext ... "></textarea>
      </div>
      <!-- Abschluss -->
      <label for="gru" class="col-sm-2 control-label">Abschluss</label>
      <div class="form-group form-inline" id="gru">
        <input type="text" name="closing" ng-model="meta.closing" class="form-control" placeholder="Gruß" /><span  class="lead">{{meta.abs.nname}}</span>
      </div>
    </form>
  </accordion-group>
</accordion>


<form name="sendForm" action="http://localhost:8080/upload" method="POST" enctype="multipart/from-data" style="width: 0px; height: 0px;">
  <textarea  name="latex" rows="0" cols="0" style="visibility: hidden;">
{{header}}

\newcommand{\dieAdresse}{ {{ meta.empf.vname }} {{ meta.empf.nname }}\\{{ meta.empf.street }} {{ meta.empf.nr }}\\{{meta.empf.postnr}} {{meta.empf.city}} }
\newcommand{\dieAnrede}{\Anrede{Herr}{ {{ meta.empf.nname}} } }
\newcommand{\derBetreff}{ {{ meta.subject }} }
\setkomavar{fromname}    
{\Large{\textsc{ {{ meta.abs.vname }} {{ meta.abs.nname }} } } }
\setkomavar{fromaddress} 
{ {{meta.abs.street}} {{meta.abs.nr}}\\{{meta.abs.postnr}} {{meta.abs.city}} } 
\setkomavar{backaddress} 
{ {{meta.abs.vname | limitTo:1}}.{{meta.abs.nname}}, {{meta.abs.street}} {{meta.abs.nr}}, {{meta.abs.postnr}} {{meta.abs.city}} }
\setkomavar{subject}
{ {{meta.subject}} }
\setkomavar{fromemail}
{ kurt-deuter.blub.de }

{{body}}

\begin{letter}{ {{meta.empf.vname}} {{meta.empf.nname}}\\{{meta.empf.street}} {{meta.empf.nr}}\\{{meta.empf.postnr}} {{meta.empf.city}} }
\opening{ {{meta.opening}} {{meta.empf.nname}}, }

{{meta.txt}}

\closing{ {{meta.closing}},\\{{meta.abs.vname}} {{meta.abs.nname}} }

{{footer}}
  </textarea>
  <input type="hidden" name="nachname" value="{{meta.empf.nname}}" />
  <input type="hidden" name="subject" value="{{meta.subject}}" />
  <input type="submit" value="Drucken" class="btn btn-primary">
</form>
